@media screen and (max-width: 1920px) {
    .containerHeader {
        background-color: red;
        max-width: 1920px;
    }  
    .containerNav {
        background-color: red;
        max-width: 1920px;
    }
    .containerImages .containerFooter {
        max-width: 1920px;   
    }
}
@media screen and (max-width: 920px) {
    .containerHeader {
        background-color: yellow; 
    } 
    .containerNav {
        background-color: red;
        max-width: 920px;
    }
    .containerImages .containerFooter {
        max-width: 920px;   
    }
}

  